body {
  overflow: hidden;
}

.rs-btn {
  margin: 3px;
}

.rs-btn-icon {
  margin: 0;
}

.rs-btn-primary {
  background-color: red !important;
}

.rs-panel {
  background: #121212 !important;
}

.rs-slider-progress-bar {
  background: red !important;
}

.rs-slider-handle:before {
  border-color: red !important;
}