body {
  overflow: hidden;
}

.rs-btn {
  margin: 3px;
}

.rs-btn-icon {
  margin: 0;
}

.rs-btn-primary {
  background-color: red !important;
}

.rs-panel {
  background: #121212 !important;
}

.rs-slider-progress-bar {
  background: red !important;
}

.rs-slider-handle:before {
  border-color: red !important;
}

canvas {
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width:100%;
  height:100%;
}